<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Administration</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ asset('css/admin/AdminLTE.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/admin/skin-blue.min.css') }}">
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css">
    {% block stylesheets %}{% endblock %}
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    {#<link rel="icon" type="image/x-icon" href="{{ asset('') }}">#}

</head>
<body class="skin-blue sidebar-mini fixed">
<div class="wrapper">
    <header class="main-header">
        <a href="" class="logo">
            <span class="logo-lg"><b>Administration</b></span>
            <span class="logo-sm"><b>GZ</b></span>
        </a>
        <nav class="navbar navbar-static-top" role="navigation">
            <div class="navbar-custom-menu">
            </div>
        </nav>
    </header>

    <aside class="main-sidebar">
        <section class="sidebar">
            <ul class="sidebar-menu">
            </ul>
        </section>
    </aside>

    <div class="content-wrapper">
        <section class="content-header"><h1>{% block title %}{% endblock %}</h1></section>
        <section class="content">
            {% for key, value in app.session.flashbag.all() %}
                <div class="alert alert-{{ key }}" id="{{ loop.index }}{{ key }}">
                    <p class="text-center">{{ value[0]|raw }}</p>
                </div>
            {% endfor %}
            {% block body %}
                <div class="row">
                    <div class="col-md-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h5><b>Accueil</b></h5>
                            </div>
                            <div class="panel-body">
                                {{ form_start(formAccueil, {'attr': {'class': 'p-4'}})}}
                                <div class="form-group">
                                    <h3>1. Slider</h3>
                                    <div class="row">
                                        {{ form_label(formAccueil.titleOne) }}{{ (formAccueil.titleOne.vars.required == 'true'?'<span style="color:red">*</span>':'') }}
                                        {{ form_widget(formAccueil.titleOne) }}
                                    </div>
                                    <div class="row">
                                        {{ form_label(formAccueil.imageOne) }}{{ (formAccueil.imageOne.vars.required == 'true'?'<span style="color:red">*</span>':'') }}
                                        {{ form_widget(formAccueil.imageOne) }}
                                    </div>

                                    <div class="row">
                                        {{ form_label(formAccueil.contentOne) }}{{ (formAccueil.contentOne.vars.required == 'true'?'<span style="color:red">*</span>':'') }}
                                        {{ form_widget(formAccueil.contentOne) }}
                                    </div>
                                </div>

                                <div class="form-group">
                                <h3>2. Slider</h3>
                                    <div class="row">
                                        {{ form_label(formAccueil.titleTwo) }}{{ (formAccueil.titleTwo.vars.required == 'true'?'<span style="color:red">*</span>':'') }}
                                    {{ form_widget(formAccueil.titleTwo) }}
                                    </div>

                                    <div class="row">
                                        {{ form_label(formAccueil.imageTwo) }}{{ (formAccueil.imageTwo.vars.required == 'true'?'<span style="color:red">*</span>':'') }}
                                    {{ form_widget(formAccueil.imageTwo) }}
                                    </div>

                                    <div class="row">
                                        {{ form_label(formAccueil.contentTwo) }}{{ (formAccueil.contentTwo.vars.required == 'true'?'<span style="color:red">*</span>':'') }}
                                    {{ form_widget(formAccueil.contentTwo) }}
                                    </div>
                                </div>

                                <div class="form-group">
                                    <h3>3. Présentation</h3>
                                    <div class="row">
                                        {{ form_label(formAccueil.titleThree) }}{{ (formAccueil.titleThree.vars.required == 'true'?'<span style="color:red">*</span>':'') }}
                                        {{ form_widget(formAccueil.titleThree) }}
                                    </div>

                                    <div class="row">
                                        {{ form_label(formAccueil.subtitleThree) }}{{ (formAccueil.subtitleThree.vars.required == 'true'?'<span style="color:red">*</span>':'') }}
                                        {{ form_widget(formAccueil.subtitleThree) }}
                                    </div>

                                    <div class="row">
                                        {{ form_label(formAccueil.contentThree) }}{{ (formAccueil.contentThree.vars.required == 'true'?'<span style="color:red">*</span>':'') }}
                                        {{ form_widget(formAccueil.contentThree) }}
                                    </div>
                                </div>

                                <div class="row">
                                    {{ form_label(formAccueil.submit) }}
                                {{ form_widget(formAccueil.submit) }}
                                </div>

                                {{ form_widget(formAccueil) }}
                                {{ form_rest(formAccueil) }}
                                {{ form_end(formAccueil)}}
                            </div>
                            <div class="panel-footer text-right">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h5><b>Autocars TTI</b></h5>
                            </div>
                            <div class="panel-body">
                                {{ form_start(formAutocarsTti, {'attr': {'class': 'p-4'}})}}
                                <div class="form-group">

                                </div>
                                <div class="row">
                                    {{ form_label(formAutocarsTti.imageSlider) }}{{ (formAutocarsTti.imageSlider.vars.required == 'true'?'<span style="color:red">*</span>':'') }}
                                    {{ form_widget(formAutocarsTti.imageSlider) }}
                                </div>

                                <div class="row">
                                    {{ form_label(formAutocarsTti.title) }}{{ (formAutocarsTti.title.vars.required == 'true'?'<span style="color:red">*</span>':'') }}
                                    {{ form_widget(formAutocarsTti.title) }}
                                </div>

                                <div class="row">
                                    {{ form_label(formAutocarsTti.titleOne) }}{{ (formAutocarsTti.titleOne.vars.required == 'true'?'<span style="color:red">*</span>':'') }}
                                    {{ form_widget(formAutocarsTti.titleOne) }}
                                </div>

                                <div class="row">
                                    {{ form_label(formAutocarsTti.contentOne) }}{{ (formAutocarsTti.contentOne.vars.required == 'true'?'<span style="color:red">*</span>':'') }}
                                    {{ form_widget(formAutocarsTti.contentOne) }}
                                </div>

                                <div class="row">
                                    {{ form_label(formAutocarsTti.imageOne) }}{{ (formAutocarsTti.imageOne.vars.required == 'true'?'<span style="color:red">*</span>':'') }}
                                    {{ form_widget(formAutocarsTti.imageOne) }}
                                </div>

                                <div class="row">
                                    {{ form_label(formAutocarsTti.titleTwo) }}{{ (formAutocarsTti.titleTwo.vars.required == 'true'?'<span style="color:red">*</span>':'') }}
                                    {{ form_widget(formAutocarsTti.titleTwo) }}
                                </div>

                                <div class="row">
                                    {{ form_label(formAutocarsTti.contentTwo) }}{{ (formAutocarsTti.contentTwo.vars.required == 'true'?'<span style="color:red">*</span>':'') }}
                                    {{ form_widget(formAutocarsTti.contentTwo) }}
                                </div>

                                <div class="row">
                                    {{ form_label(formAutocarsTti.imageTwo) }}{{ (formAutocarsTti.imageTwo.vars.required == 'true'?'<span style="color:red">*</span>':'') }}
                                    {{ form_widget(formAutocarsTti.imageTwo) }}
                                </div>

                                <div class="row">
                                    {{ form_label(formAutocarsTti.titleThree) }}{{ (formAutocarsTti.titleThree.vars.required == 'true'?'<span style="color:red">*</span>':'') }}
                                    {{ form_widget(formAutocarsTti.titleThree) }}
                                </div>

                                <div class="row">
                                    {{ form_label(formAutocarsTti.contentThree) }}{{ (formAutocarsTti.contentThree.vars.required == 'true'?'<span style="color:red">*</span>':'') }}
                                    {{ form_widget(formAutocarsTti.contentThree) }}
                                </div>

                                <div class="row">
                                    {{ form_label(formAutocarsTti.imageThree) }}{{ (formAutocarsTti.imageThree.vars.required == 'true'?'<span style="color:red">*</span>':'') }}
                                    {{ form_widget(formAutocarsTti.imageThree) }}
                                </div>
                                <div class="row">
                                    {{ form_label(formAutocarsTti.contentVideo) }}{{ (formAutocarsTti.contentVideo.vars.required == 'true'?'<span style="color:red">*</span>':'') }}
                                    {{ form_widget(formAutocarsTti.contentVideo) }}
                                </div>
                                <div class="row">
                                    {{ form_label(formAutocarsTti.sliderVideo) }}{{ (formAutocarsTti.sliderVideo.vars.required == 'true'?'<span style="color:red">*</span>':'') }}
                                    {{ form_widget(formAutocarsTti.sliderVideo) }}
                                </div>
                                <div class="row">
                                    {{ form_label(formAutocarsTti.titleFour) }}{{ (formAutocarsTti.titleFour.vars.required == 'true'?'<span style="color:red">*</span>':'') }}
                                    {{ form_widget(formAutocarsTti.titleFour) }}
                                </div>
                                <div class="row">
                                    {{ form_label(formAutocarsTti.imageFour) }}{{ (formAutocarsTti.imageFour.vars.required == 'true'?'<span style="color:red">*</span>':'') }}
                                    {{ form_widget(formAutocarsTti.imageFour) }}
                                </div>
                                <div class="row">
                                    {{ form_label(formAutocarsTti.contentFour) }}{{ (formAutocarsTti.contentFour.vars.required == 'true'?'<span style="color:red">*</span>':'') }}
                                    {{ form_widget(formAutocarsTti.contentFour) }}
                                </div>
                                <div class="row">
                                    {{ form_label(formAutocarsTti.titleFive) }}{{ (formAutocarsTti.titleFive.vars.required == 'true'?'<span style="color:red">*</span>':'') }}
                                    {{ form_widget(formAutocarsTti.titleFive) }}
                                </div>
                                <div class="row">
                                    {{ form_label(formAutocarsTti.contentFive) }}{{ (formAutocarsTti.contentFive.vars.required == 'true'?'<span style="color:red">*</span>':'') }}
                                    {{ form_widget(formAutocarsTti.contentFive) }}
                                </div>

                                <div class="row">
                                    {{ form_label(formAutocarsTti.submit) }}
                                    {{ form_widget(formAutocarsTti.submit) }}
                                </div>

                                {{ form_widget(formAutocarsTti) }}
                                {{ form_rest(formAutocarsTti) }}
                                {{ form_end(formAutocarsTti)}}
                            </div>
                            <div class="panel-footer text-right">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    {#<div class="col-md-6">
                        <!-- USERS LIST -->
                        <div class="box box-danger">
                            <div class="box-header with-border">
                                <h3 class="box-title">Derniers inscrits</h3>

                                <div class="box-tools pull-right">
                                    <span class="label label-danger">Dernières 24h : </span>
                                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                                    </button>
                                </div>
                            </div>
                            <!-- /.box-header -->
                            <div class="box-body no-padding">
                                <ul class="users-list clearfix">
                                </ul>
                                <!-- /.users-list -->
                            </div>
                            <!-- /.box-body -->
                            <div class="box-footer text-center">
                                <a href="" class="uppercase">Voir tous les utilisateurs</a>
                            </div>
                            <!-- /.box-footer -->
                        </div>
                        <!--/.box -->
                    </div>
                    <!-- /.col -->

                    <div class="col-md-6">
                        <!-- USERS LIST -->
                        <div class="box box-danger">
                            <div class="box-header with-border">
                                <h3 class="box-title">Derniers inscrits</h3>

                                <div class="box-tools pull-right">
                                    <span class="label label-danger">Dernières 24h : </span>
                                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                                    </button>
                                </div>
                            </div>
                            <!-- /.box-header -->
                            <div class="box-body no-padding">
                                <ul class="users-list clearfix">
                                </ul>
                                <!-- /.users-list -->
                            </div>
                            <!-- /.box-body -->
                            <div class="box-footer text-center">
                                <a href="" class="uppercase">Voir tous les utilisateurs</a>
                            </div>
                            <!-- /.box-footer -->
                        </div>
                        <!--/.box -->
                    </div>#}
                    <!-- /.col -->

                </div>
            {% endblock %}
        </section>
    </div>

    <div class="control-sidebar-bg"></div>

</div>

<div class="modal fade" tabindex="-1" role="dialog" id="modal-lightbox-image">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <div class="modal-body">

                <img id="lightbox-image" src="#">
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" role="dialog" id="modal-test-view">
    <div class="modal-dialog modal-lg" role="document">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <div class="modal-content">

            <div id="content-publication-modal" class="modal-body">

            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script src="{{ asset('js/jquery.js') }}"></script>
<script src="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
<script src="{{ asset('js/app.js') }}"></script>
</body>
</html>
