{% extends 'base.html.twig' %}

{% block body %}
<section id="slider" class="slider-element slider-parallax revslider-wrap clearfix">
    <div class="slider-parallax-inner">
        <div id="rev_slider_k_fullwidth_wrapper" class="rev_slider_wrapper fullwidth-container"  style="padding:0px;">
            <!-- START REVOLUTION SLIDER 5.1.4 fullwidth mode -->
            <div id="rev_slider_k_fullwidth" class="rev_slider fullwidthbanner" style="display:none;" data-version="5.1.4">
                <ul>
                    <!-- SLIDE  -->
                    <li data-transition="fade" data-slotamount="1" data-masterspeed="1500" data-thumb="{{ asset('images/slider/rev/ken-2-thumb.jpg') }}" data-delay="15000"  data-saveperformance="off"  data-title="Unlimited Possibilities">
                        <!-- MAIN IMAGE -->
                        <img
                                {% if pageAutocarsTti.imageContent.imageSlider.basename is defined %}
                                    src="{{ asset('images/upload/autocars-tti/' ~ pageAutocarsTti.imageContent.imageSlider.basename) }}"
                                {% else %}
                                    src="{{ asset('images/cars.jpg') }}"
                                {% endif %}
                                alt="kenburns6" data-bgposition="center bottom" data-bgpositionend="center top" data-kenburns="on" data-duration="25000" data-ease="Linear.easeNone" data-scalestart="100" data-scaleend="140" data-rotatestart="0" data-rotateend="0" data-blurstart="0" data-blurend="0" data-offsetstart="0 0" data-offsetend="0 0" class="rev-slidebg" data-no-retina>
                        <!-- LAYERS -->

                        <!-- LAYER NR. 2 -->
                        <div class="tp-caption ltl tp-resizeme revo-slider-caps-text uppercase"
                             data-x="middle" data-hoffset="0"
                             data-y="top" data-voffset="170"
                             data-transform_in="x:0;y:150;z:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;s:800;e:Power4.easeOutQuad;"
                             data-speed="800"
                             data-start="1000"
                             data-easing="easeOutQuad"
                             data-splitin="none"
                             data-splitout="none"
                             data-elementdelay="0.01"
                             data-endelementdelay="0.1"
                             data-endspeed="1000"
                             data-endeasing="Power4.easeIn" style="z-index: 3; color: #333; white-space: nowrap;"></div>

                        <div class="tp-caption ltl tp-resizeme revo-slider-emphasis-text nopadding noborder"
                             data-x="middle" data-hoffset="0"
                             data-y="top" data-voffset="185"
                             data-fontsize="['60','50','50','40']"
                             data-transform_in="x:0;y:150;z:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;s:800;e:Power4.easeOutQuad;"
                             data-speed="800"
                             data-start="1200"
                             data-easing="easeOutQuad"
                             data-splitin="none"
                             data-splitout="none"
                             data-elementdelay="0.01"
                             data-endelementdelay="0.1"
                             data-endspeed="1000"
                             data-endeasing="Power4.easeIn" style="z-index: 3; color: #ffffff; white-space: nowrap;">AUTOCARS T.T.I.</div>

                        <div class="tp-caption ltl tp-resizeme revo-slider-desc-text"
                             data-x="middle" data-hoffset="0"
                             data-y="top" data-voffset="295"
                             data-transform_in="x:0;y:150;z:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;s:800;e:Power4.easeOutQuad;"
                             data-speed="800"
                             data-lineheight="['30','30','34','26']"
                             data-width="['750','750','480','360']"
                             data-start="1400"
                             data-easing="easeOutQuad"
                             data-splitin="none"
                             data-splitout="none"
                             data-elementdelay="0.01"
                             data-endelementdelay="0.1"
                             data-endspeed="1000"
                             data-textAlign="center"
                             data-endeasing="Power4.easeIn" style="z-index: 3; color: #333; max-width: 650px; white-space: normal;"></div>

                        <div class="tp-caption ltl tp-resizeme"
                             data-x="middle" data-hoffset="0"
                             data-y="top" data-voffset="405"
                             data-transform_in="x:0;y:150;z:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;s:800;e:Power4.easeOutQuad;"
                             data-speed="800"
                             data-start="1550"
                             data-easing="easeOutQuad"
                             data-splitin="none"
                             data-splitout="none"
                             data-elementdelay="0.01"
                             data-endelementdelay="0.1"
                             data-endspeed="1000"
                             data-endeasing="Power4.easeIn" style="z-index: 3; color: white; font-size: 20px">Le tourisme est notre vocation</div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>

    <section id="content" style="background-color: #F9F9F9">

        <div class="content-wrap" style="padding-top: 50px">

            <div class="container clearfix">

                <div class="heading-block center">
                    <h2>{{ pageAutocarsTti.content.title }}</h2>
                </div>

                <div class="col_one_third nobottommargin">
                    <div class="feature-box media-box">
                        <div class="fbox-media">
                            <a href="{{ path('flottepage') }}">
                                <img
                                        {% if pageAutocarsTti.imageContent.imageOne.basename is not defined %}
                                            src="{{ asset('images/upload/autocars-tti/' ~ pageAutocarsTti.imageContent.imageOne.basename) }}"
                                        {% else %}
                                            src="{{ asset('images/flotte_auto.jpg') }}"
                                        {% endif %}
                                        alt="Why choose Us?">
                            </a>
                        </div>
                        <div class="fbox-desc">
                            <h3>{{ pageAutocarsTti.content.titleOne }}<span class="subtitle"></span></h3>
                            <p>{{ pageAutocarsTti.content.contentOne }}
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col_one_third nobottommargin">
                    <div class="feature-box media-box">
                        <div class="fbox-media">
                            <a href="#couchetteetremorques">
                                <img
                                {% if pageAutocarsTti.imageContent.imageTwo.basename is not defined %}
                                    src="{{ asset('images/upload/autocars-tti/' ~ pageAutocarsTti.imageContent.imageTwo.basename) }}"
                                {% else %}
                                    src="{{ asset('images/remorque-640x480.jpg') }}"
                                {% endif %}
                                 alt="Why choose Us?">
                            </a>
                        </div>
                        <div class="fbox-desc">
                            <h3>{{ pageAutocarsTti.content.titleTwo }}<span class="subtitle"></span></h3>
                            <p>{{ pageAutocarsTti.content.contentTwo }}</p>
                        </div>
                    </div>
                </div>

                <div class="col_one_third nobottommargin col_last">
                    <div class="feature-box media-box">
                        <div class="fbox-media">
                            <a href="#securite">
                                <img
                                        {% if pageAutocarsTti.imageContent.imageThree.basename is not defined %}
                                            src="{{ asset('images/upload/autocars-tti/' ~ pageAutocarsTti.imageContent.imageThree.basename) }}"
                                        {% else %}
                                            src="{{ asset('images/ceinture-securite.jpg') }}"
                                        {% endif %}
                                        alt="Why choose Us?">
                            </a>
                        </div>
                        <div class="fbox-desc">
                            <h3>{{ pageAutocarsTti.content.titleThree }}<span class="subtitle"></span></h3>
                            <p>{{ pageAutocarsTti.content.contentThree }}</p>
                        </div>
                    </div>
                </div>

            </div>

            <div class="clear"></div><div class="line" style="margin-bottom: 0px"></div>

            <div class="section dark nomargin noborder" style="height: 550px;">
                <div class="container-fluid vertical-middle center clearfix">
                    <!--            <i class="i-plain i-large icon-line-video divcenter" data-animate="fadeInDown"></i>       -->
                    <div class="emphasis-title nomargin" data-animate="fadeInUp">
                        <h2 style="font-size: 56px;">{{ pageAutocarsTti.content.contentVideo }}</h2>
                    </div>
                </div>
                <div class="video-wrap">
                    <video poster= {{ asset('images/videos/explore.jpg')}} preload="auto" loop autoplay muted>
                        <source src="{{ asset('images/slider/autocars/videoplayback.webm') }}" type='video/mp4' />
                    </video>
                    <div class="video-overlay"></div>
                </div>
            </div>

            <div class="container clearfix" id="securite">

                <div class="clear"></div><div class="line" style="margin-top: 0px"></div>

                <div class="col_three_fifth">

                    <div class="heading-block center">
                        <h3>{{ pageAutocarsTti.content.titleFour }}</h3>
                        <span></span>
                    </div>

                    <p>
                        {{ pageAutocarsTti.content.contentFour }}
                    </p>

                    <div class="col_four_fifth">
                        <ul>
                            <li>Autocars de moins de 10 ans</li>
                            <li>Respect absolu des amplitudes et des temps de conduites</li>
                            <li>Mise en place de relais conducteurs ou double équipage lors des longs parcours</li>
                            <li>Passage au service de vérifications des Mines tous les 6 mois</li>
                            <li>Atelier et techniciens qualifiés au sein de notre dépôt pour les opérations de maintenance</li>
                            <li>Un réseau de constructeurs et réparateurs réactifs sur toute l'Europe</li>
                            <li>Nos véhicules les plus récents sont équipés d'Ethylotest</li>
                        </ul>
                    </div>

                </div>

                <div class="col_two_fifth topmargin col_last" style="min-height: 350px">
                    <img src="{{ asset('images/sec.png') }}" alt="">
                </div>
            </div>

            <div class="clear"></div><div class="line" ></div>

            <div class="section dark nomargin noborder" style="height: 550px;">
                <div class="container-fluid vertical-middle center clearfix">
                    <!--            <i class="i-plain i-large icon-line-video divcenter" data-animate="fadeInDown"></i>       -->
                    <a href="{{ path('devispage') }}">
                        <div class="emphasis-title nomargin" data-animate="fadeInUp">
                            <h2 style="font-size: 56px;">Pour toutes demandes de devis cliquez ici</h2>
                        </div>
                    </a>
                </div>
            </div>

            <div class="clear"></div><div class="line" ></div>

            <div class="container clearfix" id="couchetteetremorques">

                <div class="heading-block center">
                    <h2>{{ pageAutocarsTti.content.titleFive }}</h2>
                </div>

                <p>{{ pageAutocarsTti.content.contentFive }}</p>

                <div class="col_one_third " style="margin-bottom:0px; margin-right:2%; height: 45%;">
                    <div class="nomargin" style="height: 50%;background: url({{ asset('images/cars/83pl.jpg') }}) no-repeat;-webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;background-size: cover;">
                    </div>
                    <div class="card">
                        <img class="card-img-top" src="{{ asset('images/cars/49pl-40cc.jpg') }}" alt="">
                        <div class="card-body">

                            <p class="card-text" style="font-size: 1.2em"> <span style="font-weight: bold; font-size: 1.3em">SETRA S 415 HD <span style="font-style: italic"><br>49 places  - 40 couchettes</span></span><br>49 sièges inclinables avec ceintures ou 40 couchettes, climatisation top air intégré, système vidéo DVD, réfrigérateur, toilettes.</p>
                            <button type="button" class="btn" data-toggle="modal" data-target="#myModal" data-local="#myCarousel" style="background-color: #A54DB3 !important; color: white  !important;">Voir plus de photos</button>
                        </div>
                    </div>
                </div>
                <div class="col_one_third " style="margin-bottom:0px; margin-right:2%; height: 45%;">
                    <div class="nomargin" style="height:50%;background: url({{ asset('images/cars/67pl-1.jpg') }}) no-repeat;-webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;background-size: cover;">
                    </div>
                    <div class="card">
                        <img class="card-img-top" src="{{ asset('images/cars/55pl-42c.jpg') }}" alt="">
                        <div class="card-body">
                            <p class="card-text" style="font-size: 1.2em"> <span style="font-weight: bold; font-size: 1.3em">VAN HOOL T916  <br><span style="font-style: italic">55 places  - 42 couchettes</span></span><br>55 sièges inclinables avec ceintures ou 42 couchettes, climatisation top air intégré, système vidéo DVD, réfrigérateur, toilettes.</p>
                            <button type="button" class="btn" data-toggle="modal" data-target="#myModal" data-local="#myCarousel" style="background-color: #A54DB3 !important; color: white  !important;">Voir plus de photos</button>
                        </div>
                    </div>
                </div>
                <div class="col_one_third " style="margin-bottom:0px; margin-right:2%; height: 45%;">
                    <div class="nomargin" style="height:50%;background: url({{ asset('images/cars/67pl-2.jpg') }}) no-repeat;-webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;background-size: cover;">
                    </div>
                    <div class="card">
                        <img class="card-img-top" src="{{ asset('images/cars/58pl-50c.jpg') }}" alt="">
                        <div class="card-body">
                            <p class="card-text" style="font-size: 1.2em"> <span style="font-weight: bold; font-size: 1.3em">VAN HOOL T917 ASTRON <br><span style="font-style: italic">58 places - 50 couchettes</span></span><br>58 sièges inclinables avec ceintures ou 50 couchettes, climatisation top air intégré, système vidéo DVD, réfrigérateur, toilettes Vous devez vous déplacer avec du volume : beaucoup de valises, malles, matériel de plongée, instruments de musiques... Nous avons la solution : Nos remorques de 9 à 24 m3.</p>
                            <button type="button" class="btn" data-toggle="modal" data-target="#myModal" data-local="#myCarousel" style="background-color: #A54DB3 !important; color: white  !important;">Voir plus de photos</button>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </section><!-- #content end -->
{% endblock %}
