{% extends 'base.html.twig' %}

{% block body %}
    <section id="slider" class="slider-element boxed-slider">

        <div class="container clearfix">

            <div class="fslider" data-animation="fade" data-thumbs="true" data-arrows="false" data-speed="1200" data-pause="7000">
                <div class="flexslider">
                    <div class="slider-wrap">
                        <div class="slide" data-thumb="{{ asset('images/slider/autocars/19-mercedes.jpg') }}">
                            <a href="#">
                                <img src="{{ asset('images/slider/autocars/20160104_164212.jpg') }}" alt="Slide 4">
                                <div class="flex-caption slider-caption-bg slider-caption-top-right">Des autocars tout confort un voyage agréable</div>
                            </a>
                        </div>
                        <div class="slide" data-thumb="{{ asset('images/slider/autocars/inside-thumb.jpg') }}">
                            <a href="#">
                                {#<img src="{{ asset('images/slider/autocars/inside.jpeg') }}" alt="Slide 2">#}
                                <div class="flex-caption slider-caption-bg">Responsive Ready Design</div>
                            </a>
                        </div>
                        <div class="slide" data-thumb="{{ asset('images/slider/autocars/outside-thumb.jpg') }}">
                            <a href="#">
                                <img src="{{ asset('images/slider/autocars/20160104_164249.jpg') }}" alt="Slide 3">
                                <div class="flex-caption slider-caption-bg slider-caption-bg-light slider-caption-top-left">Retina Graphics Display</div>
                            </a>
                        </div>
                        <div class="slide" data-thumb="{{ asset('images/slider/boxed/thumbs/5.jpg') }}">
                            <a href="#">
                                <img src="{{ asset('images/slider/autocars/20160104_162936.jpg') }}" alt="Slide 5">
                                <div class="flex-caption slider-caption-bg slider-caption-bg-light slider-caption-bottom-right">eCommerce Design Included</div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </section>

    <section id="content" style="background-color: #F9F9F9">

        <div class="content-wrap">

            <div class="container clearfix">

                <div class="heading-block center">
                    <h2>Nos services</h2>
                </div>

                <div class="col_one_third nobottommargin">
                    <div class="feature-box media-box">
                        <div class="fbox-media">
                            <img src="{{ asset('images/services/1.jpg') }}" alt="Why choose Us?">
                        </div>
                        <div class="fbox-desc">
                            <h3>Flotte d'autocars.<span class="subtitle">Because we are Reliable.</span></h3>
                            <p>Nous mettons à votre disposition des autocars de 22 à 83 places.
                                Tous équipés de vidéo, air conditionné,  réfrigérateur, sièges inclinables, et toilettes (à partir de 33 places).
                        </div>
                    </div>
                </div>

                <div class="col_one_third nobottommargin">
                    <div class="feature-box media-box">
                        <div class="fbox-media">
                            <img src="{{ asset('images/services/2.jpg') }}" alt="Why choose Us?">
                        </div>
                        <div class="fbox-desc">
                            <h3>Couchettes & remorques<span class="subtitle">To Redefine your Brand.</span></h3>
                            <p>Des cars couchettes de 40 à 50 places pour que vos week-ends soient plus confortables.
                                Pour transporter votre matériel ou bagages de tous types, des remorques de 9 à 24 <m3></m3>.</p>
                        </div>
                    </div>
                </div>

                <div class="col_one_third nobottommargin col_last">
                    <div class="feature-box media-box">
                        <div class="fbox-media">
                            <img src="{{ asset('images/services/3.jpg') }}" alt="Why choose Us?">
                        </div>
                        <div class="fbox-desc">
                            <h3>Sécurité et sureté.<span class="subtitle">Make our Customers Happy.</span></h3>
                            <p>Pour notre société il s'agit d'un enjeu majeur : le respect de la réglementation en vigueur est donc indispensable. La sécurité, un engagement que nous respectons.</p>
                        </div>
                    </div>
                </div>

            </div>

            <div class="clear"></div><div class="line" style="margin-bottom: 0px"></div>

            <div class="section dark nomargin noborder" style="height: 550px;">
                <div class="container-fluid vertical-middle center clearfix">
                    <!--            <i class="i-plain i-large icon-line-video divcenter" data-animate="fadeInDown"></i>       -->
                    <div class="emphasis-title nomargin" data-animate="fadeInUp">
                        <h2 style="font-size: 56px;">Faites de vos rêves une réalité</h2>
                    </div>
                </div>
                <div class="video-wrap">
                    <video poster= {{ asset('images/videos/explore.jpg')}} preload="auto" loop autoplay muted>
                        <source src="{{ asset('images/slider/autocars/videoplayback.webm') }}" type='video/mp4' />
                    </video>
                    <div class="video-overlay"></div>
                </div>
            </div>

            <div class="container clearfix">

                <div class="clear"></div><div class="line" style="margin-top: 0px"></div>

                <div class="col_three_fifth">

                    <div class="heading-block">
                        <h3>Sécurité</h3>
                        <span>Benchmarking your website's performance helps you make great choices for your business.</span>
                    </div>

                    <p>La sécurité représente la préocupation majeure de notre activité au quotidien, outre que notre matériel soit de dernière génération, nous apportons une attention constante à son parfait entretien afin de conserver le niveau de disponibilité optimale, dans le but de vous satisfaire pleinement. Ainsi, pour notre société, la sécurité n' est pas seulement un mot, mais un réel enjeux que nous nous efforçons de maintenir au plus haut niveau</p>

                    <div class="col_four_fifth">
                        <ul>
                            <li>Autocars de moins de 10 ans</li>
                            <li>Respect absolu des amplitudes et des temps de conduites</li>
                            <li>Mise en place de relais conducteurs ou double équipage lors des longs parcours</li>
                            <li>Passage au service de vérifications des Mines tous les 6 mois</li>
                            <li>Atelier et techniciens qualifiés au sein de notre dépôt pour les opérations de maintenance</li>
                            <li>Un réseau de constructeurs et réparateurs réactifs sur toute l'Europe</li>
                            <li>Nos véhicules les plus récents sont équipés d'Ethylotest</li>
                        </ul>
                    </div>

                </div>

                <div class="col_two_fifth topmargin col_last" style="min-height: 350px">
                    <canvas id="chart-radar"></canvas>
                </div>

            </div>

            <section id="content" style="margin-bottom: 0px;">

                <div class="content-wrap">

                    <div class="container clearfix">

                        <!-- Contact Form
                        ============================================= -->
                            <div class="fancy-title title-dotted-border text-center">
                                <h3>Devis Transport</h3>
                            </div>

                                {{ form_start(form) }}
                                <div class="form-group">
                                    {{ form_label(form.title) }}
                                    {{ form_widget(form.title) }}
                                    <div class="col-md-9 col-md-offset-3 error-message">{{ form_errors(form.title) }}</div>
                                </div>
                                <div class="form-group">
                                    {{ form_label(form.name) }}
                                    {{ form_widget(form.name) }}

                                    <div class="col-md-9 col-md-offset-3 error-message">{{ form_errors(form.name) }}</div>
                                </div>
                                <div class="form-group">
                                    {{ form_label(form.nickname) }}
                                    {{ form_widget(form.nickname) }}
                                    <div class="col-md-9 col-md-offset-3 error-message">{{ form_errors(form.nickname) }}</div>
                                </div>
                                <div class="form-group">
                                    {{ form_label(form.phone) }}
                                    {{ form_widget(form.phone) }}

                                    <div class="col-md-9 col-md-offset-3 error-message">{{ form_errors(form.phone) }}</div>
                                </div>
                                <div class="form-group">
                                    {{ form_label(form.email) }}
                                    {{ form_widget(form.email) }}

                                    <div class="col-md-9 col-md-offset-3 error-message">{{ form_errors(form.email) }}</div>
                                </div>
                                <div class="form-group">
                                    {{ form_label(form.address) }}
                                    {{ form_widget(form.address) }}

                                    <div class="col-md-9 col-md-offset-3 error-message">{{ form_errors(form.address) }}</div>
                                </div>
                                <div class="form-group">
                                    {{ form_label(form.city) }}
                                    {{ form_widget(form.city) }}
                                    <div class="col-md-9 col-md-offset-3 error-message">{{ form_errors(form.city) }}</div>
                                </div>
                                <div class="form-group">
                                    {{ form_label(form.society) }}
                                    {{ form_widget(form.society) }}
                                    <div class="col-md-9 col-md-offset-3 error-message">{{ form_errors(form.society) }}</div>
                                </div>
                                <div class="form-group">
                                    {{ form_label(form.departDate) }}
                                    {{ form_widget(form.departDate) }}
                                    <div class="col-md-9 col-md-offset-3 error-message">{{ form_errors(form.departDate) }}</div>

                                </div>
                                <div class="form-group">
                                    {{ form_label(form.departHour) }}
                                    {{ form_widget(form.departHour) }}
                                    <div class="col-md-9 col-md-offset-3 error-message">{{ form_errors(form.departHour) }}</div>

                                </div>
                                <div class="form-group">
                                    {{ form_label(form.arrivedDate) }}
                                    {{ form_widget(form.arrivedDate) }}
                                    <div class="col-md-9 col-md-offset-3 error-message">{{ form_errors(form.arrivedDate) }}</div>

                                </div>
                                <div class="form-group">
                                    {{ form_label(form.arrivedHour) }}
                                    {{ form_widget(form.arrivedHour) }}
                                    <div class="col-md-9 col-md-offset-3 error-message">{{ form_errors(form.arrivedHour) }}</div>

                                </div>
                                <div class="form-group">
                                    {{ form_label(form.destination) }}
                                    {{ form_widget(form.destination) }}
                                    <div class="col-md-9 col-md-offset-3 error-message">{{ form_errors(form.destination) }}</div>
                                </div>
                                <div class="form-group">
                                    {{ form_label(form.equipment) }}
                                    {{ form_widget(form.equipment) }}
                                    <div class="col-md-9 col-md-offset-3 error-message">{{ form_errors(form.equipment) }}</div>
                                </div>
                                <div class="form-group">
                                    {{ form_label(form.capacity) }}
                                    {{ form_widget(form.capacity) }}
                                    <div class="col-md-9 col-md-offset-3 error-message">{{ form_errors(form.capacity) }}</div>
                                </div>
                                <div class="form-group">
                                    {{ form_label(form.locationTake) }}
                                    {{ form_widget(form.locationTake) }}
                                    <div class="col-md-9 col-md-offset-3 error-message">{{ form_errors(form.locationTake) }}</div>
                                </div>
                                <div class="form-group">
                                    {{ form_label(form.files) }}
                                    {{ form_widget(form.files) }}
                                    <div class="col-md-9 col-md-offset-3 error-message">{{ form_errors(form.files) }}</div>
                                </div>
                                <div class="form-group">
                                    {{ form_widget(form.submit) }}
                                </div>
                                {{ form_widget(form) }}
                                {{ form_rest(form) }}
                                {{ form_end(form) }}
                                {{ form(form) }}
                </div>

            </section>

        </div>

    </section><!-- #content end -->
{% endblock %}
