{% extends 'base.html.twig' %}

{% block body %}

    <section id="slider" class="slider-element slider-parallax" style="background-color: #222;">

        <div class="container-fluid vertical-middle center clearfix">
            <!--            <i class="i-plain i-large icon-line-video divcenter" data-animate="fadeInDown"></i>       -->
            <div class="emphasis-title nomargin" data-animate="fadeInUp">
                <h2 style="font-size: 56px; color: white;">Chaumont Voyages c'est 45 ans d'expérience au service de vos séjours</h2>
                <div class="clear"></div>
            </div>
        </div>

        <div id="oc-slider" class="owl-carousel carousel-widget " data-margin="0" data-items="1" data-pagi="false" data-loop="true" data-animate-in="rollIn" data-speed="450" data-animate-out="rollOut" data-autoplay="5000">

            <a href="#"><img src={{ asset('images/slider/full/1.jpg') }} alt="Slider"></a>
            <a href="#"><img src={{ asset('images/slider/full/2.jpg') }} alt="Slider"></a>
            <a href="#"><img src={{ asset('images/slider/full/3.jpg') }} alt="Slider"></a>
            <a href="#"><img src={{ asset('images/slider/full/4.jpg') }} alt="Slider"></a>

<!--    <div class="owl-nav">
           <button role="presentation" class="owl-prev">
               <i class="icon-angle-left"></i>
           </button>
           <button role="presentation" class="owl-next">
               <i class="icon-angle-right"></i>
           </button>
        </div> -->

        </div>

    </section>

    <div class="section notopborder nomargin">

        <div class="container clearfix" style="margin-bottom: 1rem; text-align: center;">

            <div class="col_full nobottommargin col_last">

                <div class="heading-block topmargin-sm">
                    <h2>GROUPE CHAUMONT </h2>
                    <span>CHAUMONT VOYAGES & AUTOCARS T.T.I</span>
                </div>

                <p>Vous avez un projet et trouvez que les Agences vous vendent toutes le même séjour, vous souhaitez réaliser un voyage unique, à votre image, en groupe ou en individuel, le sur mesure vous convient : Notre agence est faite pour vous.

                    Nous vous apporterons un interlocuteur principal qui vous aiguillerra et vous conseillera tout au long de votre projet :
                    <ul style="text-align: left">
                        <li>L'organisation de salons, de congrès et séminaires.</li>
                        <li>Le tourisme d'affaires et les voyages de stimulation.</li>
                        <li>Le tourisme et la billetterie de loisirs.</li>
                    </ul>
                    De part son appartenance au réseau Manor, Chaumont Voyages vous proposes des solutions clé en main. Manor est l'un des 1ers groupements professionnels français d'agences de voyages spécialisées dans les voyages d'affaires.
                </p>
            </div>

        </div>

    </div>

    <div class="section dark nomargin noborder" style="height: 550px;">
        <div class="container-fluid vertical-middle center clearfix">
           <!--            <i class="i-plain i-large icon-line-video divcenter" data-animate="fadeInDown"></i>       -->
            <div class="emphasis-title nomargin" data-animate="fadeInUp">
                <h2 style="font-size: 56px;">Faites de vos rêves une réalité</h2>
            </div>
        </div>
        <div class="video-wrap">
            <video poster= {{ asset('images/videos/explore.jpg')}} preload="auto" loop autoplay muted>
                <source src={{ asset('images/videos/explore.mp4')}} type='video/mp4' />
            </video>
            <div class="video-overlay"></div>
        </div>
    </div>

    <div class="section notopborder nomargin">
        <div class="container clearfix">

        <div class="heading-block center">
            <h2>Nos services</h2>
        </div>

        <div class="col_one_third nobottommargin">
            <div class="feature-box media-box">
                <div class="fbox-media">
                    <img src="{{ asset('images/services/1.jpg') }}" alt="Why choose Us?">
                </div>
                <div class="fbox-desc">
                    <h3>Congrès et Séminaires<span class="subtitle">Because we are Reliable.</span></h3>
                    <p>
                        Gestion des inscriptions<br>

                        Organisation logisitique<br>

                        Réservation hôtelière<br>

                        Accompagnement sur toutes destinations au départ de votre ville<br>
                    </p>

                </div>
            </div>
        </div>

        <div class="col_one_third nobottommargin">
            <div class="feature-box media-box">
                <div class="fbox-media">
                    <img src="{{ asset('images/services/2.jpg') }}" alt="Why choose Us?">
                </div>
                <div class="fbox-desc">
                    <h3>Déplacements professionnels<span class="subtitle">To Redefine your Brand.</span></h3>
                   <p>
                       Les déplacements d'affaires (train, avion, hôtels, bateau, voitures, visas) dans le monde entier <br>

                       Le tourisme d'affaires et les voyages de stimulation<br>

                       Réservation hôtelière<br>
                   </p>
                </div>
            </div>
        </div>

        <div class="col_one_third nobottommargin col_last">
            <div class="feature-box media-box">
                <div class="fbox-media">
                    <img src="{{ asset('images/services/3.jpg') }}" alt="Why choose Us?">
                </div>
                <div class="fbox-desc">
                    <h3>Tourisme et Loisir <span class="subtitle">Make our Customers Happy.</span></h3>
                        <p>
                            Le tourisme et la billetterie de loisirs, forfaits et voyages à la carte<br>

                            Les voyages sur mesure (voyage de noce, liste de mariage, voyage d'exception, voyage de rêve...)<br>

                            Réservation hôtelière<br>

                        </br>
                </div>
            </div>
        </div>

    </div>
    </div>

    <div id="google-map5" style="height: 400px; margin-bottom: 20px;" class="gmap">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d41943.98815645481!2d2.2330742836679276!3d48.92493182443498!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e668b26ee31665%3A0xceed956713b090af!2sChaumont+Voyages!5e0!3m2!1sfr!2sfr!4v1520517026496" width="1500" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>

    <div class="content-wrap nopadding">

        <div class="section notopborder nomargin">

            <div class="divecenter center cleanobottommargin col_last">

                <div class="col_full bottommargin" data-animate="bounceIn" style="margin-right: 0px">
                    <h5>Chaumont voyages genevilliers</h5>
                    <span>9 Route Principale du Port <br>92230 Gennevilliers <br>TEL : +33 1 47 98 22 40</span>
                </div>



            </div>

        </div>

    </div>



{% endblock %}
