{% extends 'base.html.twig' %}

{% block body %}
    
    <section id="content">

        <div class="content-wrap">

            <div class="container clearfix">

                <!-- Contact Form
                ============================================= -->
                <div class="col_half">

                    <div class="fancy-title title-dotted-border">
                        <h3>Contactez-nous</h3>
                    </div>

                    <div class="contact-widget">

                        <div class="contact-form-result"></div>

                        {{ form_start(form) }}
                        <div class="form-group row">
                            <div class="col">
                                {{ form_label(form.title) }}
                                {{ form_widget(form.title) }}
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col">
                                {{ form_label(form.name) }}
                                {{ form_widget(form.name) }}
                            </div>
                            <div class="col">
                                {{ form_label(form.nickname) }}
                                {{ form_widget(form.nickname) }}
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col">
                                {{ form_label(form.phone) }}
                                {{ form_widget(form.phone) }}
                            </div>
                            <div class="col">
                                {{ form_label(form.society) }}
                                {{ form_widget(form.society) }}
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col">
                                {{ form_label(form.comments) }}
                                {{ form_widget(form.comments) }}
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col">
                                {{ form_widget(form.submit) }}
                            </div>
                        </div>
                    </div>

                </div><!-- Contact Form End -->

                <!-- Google Map
                ============================================= -->
                <div class="col_half col_last">

                    <section id="google-map" class="gmap" style="height: 410px;">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d41943.98815645481!2d2.2330742836679276!3d48.92493182443498!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e668b26ee31665%3A0xceed956713b090af!2sChaumont+Voyages!5e0!3m2!1sfr!2sfr!4v1520517026496" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                    </section>

                </div><!-- Google Map End -->

                <div class="clear"></div>

                <!-- Contact Info
                ============================================= -->
                <div class="row clear-bottommargin">

                    <div class="col-lg-3 col-md-6 bottommargin clearfix">
                        <div class="feature-box fbox-center fbox-bg fbox-plain">
                            <div class="fbox-icon">
                                <a href="#"><i class="icon-map-marker2"></i></a>
                            </div>
                            <h3>Notre adresse<span class="subtitle">9 Route Principale du port CE 479 92638 Gennevilliers Cedex</span></h3>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 bottommargin clearfix">
                        <div class="feature-box fbox-center fbox-bg fbox-plain">
                            <div class="fbox-icon">
                                <a href="#"><i class="icon-phone3"></i></a>
                            </div>
                            <h3>Téléphone<span class="subtitle">+33 1 47 98 91 80</span></h3>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 bottommargin clearfix">
                        <div class="feature-box fbox-center fbox-bg fbox-plain">
                            <div class="fbox-icon">
                                <a href="#"><i class="icon-twitter2"></i></a>
                            </div>
                            <h3>Fax<span class="subtitle">+ 33 1 47 99 17 50</span></h3>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 bottommargin clearfix">
                        <div class="feature-box fbox-center fbox-bg fbox-plain">
                            <div class="fbox-icon">
                                <a href="#"><i class="icon-skype2"></i></a>
                            </div>
                            <h3>Email<span class="subtitle">info @chaumont-voyages.fr</span></h3>
                        </div>
                    </div>


                </div><!-- Contact Info End -->

            </div>

        </div>

    </section><!-- #content end -->

{% endblock %}