{% extends 'base.html.twig' %}

{% block body %}

    <section id="content" style="background-color: rgb(249, 249, 249);">

        <div class="content-wrap">

            <div class="container clearfix" style="height: 1200px">

                <h2>Notre Flotte d'autocars</h2>

                <div class="col_one_third " style="border: black 1px solid; margin-bottom:0px; margin-right:2%; height: 45%;">
                    <div class="nomargin" style="height: 50%;background: url({{ asset('images/cars/83pl.jpg') }}) no-repeat;-webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;background-size: cover;">
                    </div>
                    <div class="card">
                        <img class="card-img-top" data-src="({{ asset('images/cars/83pl.jpg') }})" alt="">
                        <div class="card-body">

                            <p class="card-text" style="font-size: 1.6em"> <span style="font-weight: bold; font-size: 1.3em">VAN HOOL TD 925 ASTROMEGA/ 2 ETAGES <span style="font-style: italic">83 PLACES</span></span><br>Sièges inclinables avec ceintures, climatisation top air intégré, système vidéo DVD, réfrigérateur, toilettes, 2 tables de 4 sièges en vis à vis à l'étage inférieur.</p>
                            <button type="button" class="btn" data-toggle="modal" data-target="#myModal" data-local="#myCarousel" style="background-color: #A54DB3 !important; color: white  !important; position: absolute; bottom:5%; left: 0px;">Voir plus de photos</button>
                        </div>
                    </div>
                </div>
                <div class="col_one_third " style="border: black 1px solid;margin-bottom:0px; margin-right:2%; height: 45%;">
                    <div class="nomargin" style="height:50%;background: url({{ asset('images/cars/67pl-1.jpg') }}) no-repeat;-webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;background-size: cover;">
                    </div>
                    <div class="card">
                        <img class="card-img-top" data-src="({{ asset('images/cars/67pl-1.jpg') }})" alt="">
                        <div class="card-body">
                            <p class="card-text" style="font-size: 1.6em"> <span style="font-weight: bold; font-size: 1.3em">VAN HOOL TX17 <br><span style="font-style: italic">67 PLACES</span></span><br>Sièges inclinables avec ceintures, climatisation top air intégré, système vidéo DVD, réfrigérateur, toilettes.</p>
                            <button type="button" class="btn" data-toggle="modal" data-target="#myModal" data-local="#myCarousel" style="background-color: #A54DB3 !important; color: white  !important; position: absolute; bottom:5%; left: 0px;">Voir plus de photos</button>
                        </div>
                    </div>
                </div>
                <div class="col_one_third " style="border: black 1px solid;margin-bottom:0px; margin-right:2%; height: 45%;">
                    <div class="nomargin" style="height:50%;background: url({{ asset('images/cars/67pl-2.jpg') }}) no-repeat;-webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;background-size: cover;">
                    </div>
                    <div class="card">
                        <img class="card-img-top" data-src="({{ asset('images/cars/67pl-2.jpg') }})" alt="">
                        <div class="card-body">
                            <p class="card-text" style="font-size: 1.6em"> <span style="font-weight: bold; font-size: 1.3em">VAN HOOL TX17 ASTRON <br><span style="font-style: italic">67 PLACES</span></span><br>Sièges inclinables avec ceintures, climatisation top air intégré, système vidéo DVD, réfrigérateur, toilettes.</p>
                            <button type="button" class="btn" data-toggle="modal" data-target="#myModal" data-local="#myCarousel" style="background-color: #A54DB3 !important; color: white  !important; position: absolute; bottom:5%; left: 0px;">Voir plus de photos</button>
                        </div>
                    </div>
                </div>

                <div class="col_one_third " style="border: black 1px solid;margin-bottom:0px; margin-right:2%; height: 45%;">
                    <div class="" style="height:50%;background: url({{ asset('images/cars/63pl.jpg') }}) no-repeat;-webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;background-size: cover;">
                    </div>
                    <div class="card">
                        <img class="card-img-top" data-src="({{ asset('images/cars/63pl.jpg') }})" alt="">
                        <div class="card-body">
                            <p class="card-text" style="font-size: 1.6em"> <span style="font-weight: bold; font-size: 1.3em">SETRA Top Class S517 HDH <br><span style="font-style: italic">63 PLACES</span></span><br>Toit panoramique, Prise de courant 220v, Chauffage des cloisons latérales, en dessous du siège et au niveau de l'appui de fenêtre, Sièges top inclinables avec ceintures, climatisation top air intégré, système vidéo DVD, réfrigérateur, toilettes</p>
                            <button type="button" class="btn" data-toggle="modal" data-target="#myModal" data-local="#myCarousel" style="background-color: #A54DB3 !important; color: white  !important; position: absolute; bottom:5%; left: 0px;">Voir plus de photos</button>
                        </div>
                    </div>
                </div>
                <div class="col_one_third " style="border: black 1px solid;margin-bottom:0px; margin-right:2%; height: 45%;">
                    <div class="" style="height:50%;background: url({{ asset('images/cars/61pl.jpg') }}) no-repeat;-webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;background-size: cover;">
                    </div>
                    <div class="card">
                        <img class="card-img-top" data-src="({{ asset('images/cars/61pl.jpg') }})" alt="">
                        <div class="card-body">
                            <p class="card-text" style="font-size: 1.6em"> <span style="font-weight: bold; font-size: 1.3em">SETRA 517 HD <br><span style="font-style: italic">61 PLACES</span></span><br>Prise de courant 220v, Chauffage des cloisons latérales, en dessous du siège et au niveau de l'appui de fenêtre, Sièges top inclinables avec ceintures, climatisation top air intégré, système vidéo DVD, réfrigérateur, toilettes</p>
                            <button type="button" class="btn" data-toggle="modal" data-target="#myModal" data-local="#myCarousel" style="background-color: #A54DB3 !important; color: white  !important; position: absolute; bottom:5%; left: 0px;">Voir plus de photos</button>
                        </div>
                    </div>
                </div>
                <div class="col_one_third " style="border: black 1px solid;margin-bottom:0px; margin-right:2%; height: 45%;">
                    <div class="" style="height:50%;background: url({{ asset('images/cars/59pl-50c.jpg') }}) no-repeat;-webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;background-size: cover;">
                    </div>
                    <div class="card">
                        <img class="card-img-top" data-src="({{ asset('images/cars/59pl-50c.jpg') }})" alt="">
                        <div class="card-body">
                            <p class="card-text" style="font-size: 1.6em"> <span style="font-weight: bold; font-size: 1.3em">VAN HOOL T917 ASTRON <br><span style="font-style: italic">59 PLACES</span></span><br>59 sièges inclinables avec ceintures ou 50 couchettes, climatisation top air intégré, système vidéo DVD, réfrigérateur, toilettes.</p>
                            <button type="button" class="btn" data-toggle="modal" data-target="#myModal" data-local="#myCarousel" style="background-color: #A54DB3 !important; color: white  !important; position: absolute; bottom:5%; left: 0px;">Voir plus de photos</button>
                        </div>
                    </div>
                </div>

                <div class="col_one_third " style="border: black 1px solid;margin-bottom:0px; margin-right:2%; height: 45%;">
                    <div class="nomargin" style="height:50%;background: url({{ asset('images/cars/57pl.jpg') }}) no-repeat;-webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;background-size: cover;">
                    </div>
                    <div class="card">
                        <img class="card-img-top" data-src="({{ asset('images/cars/57pl.jpg') }})" alt="">
                        <div class="card-body">
                            <p class="card-text" style="font-size: 1.6em"> <span style="font-weight: bold; font-size: 1.3em">VAN HOOL TD 925 ASTROMEGA/ 2 ETAGES <br><span style="font-style: italic">57 PLACES</span></span><br>Sièges inclinables avec ceintures, climatisation top air intégré, système vidéo DVD, réfrigérateur, toilettes, 2 tables de 4 sièges en vis à vis à l'étage inférieur.</p>
                            <button type="button" class="btn" data-toggle="modal" data-target="#myModal" data-local="#myCarousel" style="background-color: #A54DB3 !important; color: white  !important; position: absolute; bottom:5%; left: 0px;">Voir plus de photos</button>
                        </div>
                    </div>
                </div>
                <div class="col_one_third " style="border: black 1px solid;margin-bottom:0px; margin-right:2%; height: 45%;">
                    <div class="nomargin" style="height:50%;background: url({{ asset('images/cars/53pl_42c.jpg') }}) no-repeat;-webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;background-size: cover;">
                    </div>
                    <div class="card">
                        <img class="card-img-top" data-src="({{ asset('images/cars/53pl_42c.jpg') }})" alt="">
                        <div class="card-body">
                            <p class="card-text" style="font-size: 1.6em"> <span style="font-weight: bold; font-size: 1.3em">VAN HOOL TX17 <br><span style="font-style: italic">53 PLACES</span></span><br>Sièges inclinables avec ceintures, climatisation top air intégré, système vidéo DVD, réfrigérateur, toilettes.</p>
                            <button type="button" class="btn" data-toggle="modal" data-target="#myModal" data-local="#myCarousel" style="background-color: #A54DB3 !important; color: white  !important; position: absolute; bottom:5%; left: 0px;">Voir plus de photos</button>
                        </div>
                    </div>
                </div>
                <div class="col_one_third " style="border: black 1px solid;margin-bottom:0px; margin-right:2%; height: 45%;">
                    <div class="nomargin" style="height:50%;background: url({{ asset('images/cars/50pl_40c.jpg') }}) no-repeat;-webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;background-size: cover;">
                    </div>
                    <div class="card">
                        <img class="card-img-top" data-src="({{ asset('images/cars/50pl_40c.jpg') }})" alt="">
                        <div class="card-body">
                            <p class="card-text" style="font-size: 1.6em"> <span style="font-weight: bold; font-size: 1.3em">VAN HOOL TX17 ASTRON <br><span style="font-style: italic">50 PLACES</span></span><br>Sièges inclinables avec ceintures, climatisation top air intégré, système vidéo DVD, réfrigérateur, toilettes.</p>
                            <button type="button" class="btn" data-toggle="modal" data-target="#myModal" data-local="#myCarousel" style="background-color: #A54DB3 !important; color: white  !important; position: absolute; bottom:5%; left: 0px;">Voir plus de photos</button>
                        </div>
                    </div>
                </div>

                <div class="col_one_third " style="border: black 1px solid;margin-bottom:0px; margin-right:2%; height: 45%;">
                    <div class="nomargin" style="height:50%;background: url({{ asset('images/cars/41pl.jpg') }}) no-repeat;-webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;background-size: cover;">
                    </div>
                    <div class="card">
                        <img class="card-img-top" data-src="({{ asset('images/cars/41pl.jpg') }})" alt="">
                        <div class="card-body">
                            <p class="card-text" style="font-size: 1.6em"> <span style="font-weight: bold; font-size: 1.3em">VAN HOOL TD 925 ASTROMEGA/ 2 ETAGES <br><span style="font-style: italic">41 PLACES</span></span><br>Sièges inclinables avec ceintures, climatisation top air intégré, système vidéo DVD, réfrigérateur, toilettes, 2 tables de 4 sièges en vis à vis à l'étage inférieur.</p>
                            <button type="button" class="btn" data-toggle="modal" data-target="#myModal" data-local="#myCarousel" style="background-color: #A54DB3 !important; color: white  !important; position: absolute; bottom:5%; left: 0px;">Voir plus de photos</button>
                        </div>
                    </div>
                </div>
                <div class="col_one_third " style="border: black 1px solid;margin-bottom:0px; margin-right:2%; height: 45%;">
                    <div class="nomargin" style="height:50%;background: url({{ asset('images/cars/27pl.jpg') }}) no-repeat;-webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;background-size: cover;">
                    </div>
                    <div class="card">
                        <img class="card-img-top" data-src="({{ asset('images/cars/27pl.jpg') }})" alt="">
                        <div class="card-body">
                            <p class="card-text" style="font-size: 1.6em"> <span style="font-weight: bold; font-size: 1.3em">VAN HOOL TX17 <br><span style="font-style: italic">27 PLACES</span></span><br>Sièges inclinables avec ceintures, climatisation top air intégré, système vidéo DVD, réfrigérateur, toilettes.</p>
                            <button type="button" class="btn" data-toggle="modal" data-target="#myModal" data-local="#myCarousel" style="background-color: #A54DB3 !important; color: white  !important; position: absolute; bottom:5%; left: 0px;">Voir plus de photos</button>
                        </div>
                    </div>
                </div>
                <div class="col_one_third " style="border: black 1px solid;margin-bottom:0px; margin-right:2%; height: 45%;">
                    <div class="nomargin" style="height:50%;background: url({{ asset('images/cars/19pl.jpg') }}) no-repeat;-webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;background-size: cover;">
                    </div>
                    <div class="card">
                        <img class="card-img-top" data-src="({{ asset('images/cars/19pl.jpg') }})" alt="">
                        <div class="card-body">
                            <p class="card-text" style="font-size: 1.6em"> <span style="font-weight: bold; font-size: 1.3em">VAN HOOL TX17 ASTRON <br><span style="font-style: italic">19 PLACES</span></span><br>Sièges inclinables avec ceintures, climatisation top air intégré, système vidéo DVD, réfrigérateur, toilettes.</p>
                            <button type="button" class="btn" data-toggle="modal" data-target="#myModal" data-local="#myCarousel" style="background-color: #A54DB3 !important; color: white  !important; position: absolute; bottom:5%; left: 0px;">Voir plus de photos</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </section>


    {#<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-body">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="myModalLabel">VAN HOOL TD 925 ASTROMEGA/ 2 ETAGES</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    </div>
                    <div class="modal-body">
                        <section id="slider" class="slider-element boxed-slider">
                            <div class="container clearfix">
                                <div class="fslider" data-easing="easeInQuad">
                                    <div class="flexslider">
                                        <div class="slider-wrap">
                                            <div class="slide" data-thumb="{{ asset('images/cars/83pl-thumb.jpg') }}">
                                                <a href="#">
                                                    <img src="{{ asset('images/cars/83pl-thumb.jpg') }}" alt="Slide 2">
                                                    <div class="flex-caption slider-caption-bg">Responsive Ready Design</div>
                                                </a>
                                            </div>
                                            <div class="slide" data-thumb="images/slider/boxed/thumbs/3.jpg">
                                                <a href="#">
                                                    <img src="{{ asset('images/cars/67pl-1.jpg') }}" alt="Slide 3">
                                                    <div class="flex-caption slider-caption-bg slider-caption-bg-light slider-caption-top-left">Retina Graphics Display</div>
                                                </a>
                                            </div>
                                            <div class="slide" data-thumb="images/slider/boxed/thumbs/4.jpg">
                                                <a href="#">
                                                    <img src="{{ asset('images/cars/67pl-2.jpg') }}" alt="Slide 4">
                                                    <div class="flex-caption slider-caption-bg slider-caption-top-right">Bootstrap 3+ Compatible</div>
                                                </a>
                                            </div>
                                            <div class="slide" data-thumb="images/slider/boxed/thumbs/5.jpg">
                                                <a href="#">
                                                    <img src="{{ asset('images/cars.jpg') }}" alt="Slide 5">
                                                    <div class="flex-caption slider-caption-bg slider-caption-bg-light slider-caption-bottom-right">eCommerce Design Included</div>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>#}

    <style>
        .modal.modal-fullscreen .modal-content {
            background: rgba(0, 0, 0, .5);
        }
        .modal.modal-fullscreen .modal-header {
            border: 0;
            color: #fff;
        }
        .modal.modal-fullscreen .modal-footer {
            border-color: rgba(0, 0, 0, .5);
        }
    </style>

    <div class="cpt hide">
        <div id="myCarousel" class="carousel slide carousel-fit" data-ride="carousel">
            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                <div class="item active">
                    <img src="{{ asset('images/cars.jpg') }}" alt="First slide">
                    <div class="carousel-caption">
                        <h3>First slide label</h3>
                        <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
                    </div>
                </div>
                <div class="item">
                    <img src="{{ asset('images/cars.jpg') }}" alt="Second slide">
                    <div class="carousel-caption">
                        <h3>Second slide label</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>
                </div>
                <div class="item">
                    <img src="{{ asset('images/cars.jpg') }}" alt="Third slide">
                    <div class="carousel-caption">
                        <h3>Third slide label</h3>
                        <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade modal-fullscreen force-fullscreen" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button class="btn btn-danger pull-right" type="button" data-dismiss="modal" aria-hidden="true">
                        <span class="glyphicon glyphicon-remove"></span>
                        <span>Close</span>
                    </button>
                    <h4 class="modal-title">Modal title</h4>
                </div>
                <div class="modal-body">
                    <p>One fine body…</p>
                </div>
                <div class="modal-footer">
                    <!-- Controls -->
                    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                    </a>
                    <a class="right carousel-control" href="#myCarousel" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </a>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

{% endblock %}

{% block javascripts %}
    <script type="application/javascript">
        $(function () {
            $('#myModal').on('shown.bs.modal', function () {
                if ($('.cpt').hasClass('hide')) {
                    $('.cpt').removeClass('hide');
                }
            });

            $('#myModal').on('hide.bs.modal', function () {
                if ($('.cpt').hasClass('hide') === false) {
                    $('.cpt').addClass('hide');
                }
            });
        });
    </script>
{% endblock %}

