{% extends 'base.html.twig' %}

{% block body %}

    <section id="content">

        <div class="content-wrap">

            <div class="container clearfix">

                <h4>Notre Flotte d'autocars</h4>

                <div class="col_one_third nomargin">
                            <div class="card" style="width: 18rem; height: 300px;">
                                <img class="card-img-top" data-src="({{ asset('images/cars/83pl-thumb.jpg') }})" alt="">
                                <div class="card-body">
                                    <p class="card-text"> <span style="font-weight: bold;">VAN HOOL TD 925 ASTROMEGA/ 2 ETAGES</span><br>Sièges inclinables avec ceintures, climatisation top air intégré, système vidéo DVD, réfrigérateur, toilettes, 2 tables de 4 sièges en vis à vis à l'étage inférieur.</p>

                                    <button class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-lg">Voir plus</button>
                                    <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                                        <div class="modal-dialog modal-lg">
                                            <div class="modal-body">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h4 class="modal-title" id="myModalLabel">VAN HOOL TD 925 ASTROMEGA/ 2 ETAGES</h4>
                                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <section id="slider" class="slider-element boxed-slider">

                                                            <div class="container clearfix">

                                                                <div class="fslider" data-easing="easeInQuad">
                                                                    <div class="flexslider">
                                                                        <div class="slider-wrap">
                                                                            <div class="slide" data-thumb="{{ asset('images/cars/83pl-thumb.jpg') }}">
                                                                                <a href="#">
                                                                                    <img src="{{ asset('images/cars/83pl-thumb.jpg') }}" alt="Slide 2">
                                                                                    <div class="flex-caption slider-caption-bg">Responsive Ready Design</div>
                                                                                </a>
                                                                            </div>
                                                                            <div class="slide" data-thumb="images/slider/boxed/thumbs/3.jpg">
                                                                                <a href="#">
                                                                                    <img src="{{ asset('images/cars/67pl-1.jpg') }}" alt="Slide 3">
                                                                                    <div class="flex-caption slider-caption-bg slider-caption-bg-light slider-caption-top-left">Retina Graphics Display</div>
                                                                                </a>
                                                                            </div>
                                                                            <div class="slide" data-thumb="images/slider/boxed/thumbs/4.jpg">
                                                                                <a href="#">
                                                                                    <img src="{{ asset('images/cars/67pl-2.jpg') }}" alt="Slide 4">
                                                                                    <div class="flex-caption slider-caption-bg slider-caption-top-right">Bootstrap 3+ Compatible</div>
                                                                                </a>
                                                                            </div>
                                                                            <div class="slide" data-thumb="images/slider/boxed/thumbs/5.jpg">
                                                                                <a href="#">
                                                                                    <img src="{{ asset('images/cars.jpg') }}" alt="Slide 5">
                                                                                    <div class="flex-caption slider-caption-bg slider-caption-bg-light slider-caption-bottom-right">eCommerce Design Included</div>
                                                                                </a>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                            </div>

                                                        </section>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                <div class="col_one_third nomargin">
                            <div class="card" style="width: 18rem; height: 300px;">
                                <img class="card-img-top" data-src="holder.js/300x200" alt="Card image cap">
                                <div class="card-body">
                                    <p class="card-text"> <span style="font-weight: bold;">VAN HOOL TX 17</span><br>Sièges inclinables avec ceintures, climatisation top air intégré, système vidéo DVD, réfrigérateur, toilettes</p>
                                    <a href="#" class="btn btn-primary">Go somewhere</a>
                                </div>
                            </div>
                        </div>
                <div class="col_one_third nomargin">
                            <div class="card" style="width: 18rem; height: 300px;">
                                <img class="card-img-top" data-src="holder.js/300x200" alt="Card image cap">
                                <div class="card-body">
                                    <p class="card-text"><span style="font-weight: bold;">VAN HOOL TX 17 ASTRON</span><br>Sièges inclinables avec ceintures, climatisation top air intégré, système vidéo DVD, réfrigérateur, toilettes </p>
                                    <a href="#" class="btn btn-primary">Go somewhere</a>
                                </div>
                            </div>
                        </div>

                <div class="line"></div>

                <div class="col_one_third nomargin">
                    <div class="card" style="width: 18rem; height: 300px;">
                        <img class="card-img-top" data-src="({{ asset('images/cars.jpg') }})" alt="">
                        <div class="card-body">
                            <p class="card-text"><span style="font-weight: bold;">SETRA Top Class S 517 HDH</span><br>Toit panoramique, Prise de courant 220v, Chauffage des cloisons latérales, en dessous du siège et au niveau de l'appui de fenêtre, Sièges top inclinables avec ceintures, climatisation top air intégré, système vidéo DVD, réfrigérateur, toilettes</p>
                            <a href="#" class="btn btn-primary">Découvrez</a>
                        </div>
                    </div>
                </div>
                <div class="col_one_third nomargin">
                    <div class="card" style="width: 18rem; height: 300px;">
                        <img class="card-img-top" data-src="holder.js/300x200" alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text"><span style="font-weight: bold;">SETRA  517 HD</span><br>Prise de courant 220v, Chauffage des cloisons latérales, en dessous du siège et au niveau de l'appui de fenêtre, Sièges top inclinables avec ceintures, climatisation top air intégré, système vidéo DVD, réfrigérateur, toilettes</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                </div>
                <div class="col_one_third nomargin">
                    <div class="card" style="width: 18rem; height: 300px;">
                        <img class="card-img-top" data-src="holder.js/300x200" alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text"><span style="font-weight: bold;">VAN HOOL T917 ASTRON</span><br>59 sièges inclinables avec ceintures ou 50 couchettes, climatisation top air intégré, système vidéo DVD, réfrigérateur, toilettes</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                </div>

                <div class="line"></div>

                <div class="col_one_third nomargin">
                    <div class="card" style="width: 18rem; height: 300px;">
                        <img class="card-img-top" data-src="holder.js/300x200" alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text"><span style="font-weight: bold;">VANHOOL TX 16 ACRON</span><br>58 sièges inclinables avec ceintures, climatisation top air intégré, système vidéo DVD, réfrigérateur, toilettes</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                </div>
                <div class="col_one_third nomargin">
                    <div class="card" style="width: 18rem; height: 300px;">
                        <img class="card-img-top" data-src="holder.js/300x200" alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text"><span style="font-weight: bold;">VAN HOOL T916 ALICRON</span><br>Sièges top inclinables avec ceintures, climatisation, système vidéo DVD, réfrigérateur</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                </div>
                <div class="col_one_third nomargin">
                    <div class="card" style="width: 18rem; height: 300px;">
                        <img class="card-img-top" data-src="holder.js/300x200" alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text"><span style="font-weight: bold;">SETRA S 415 HD</span><br>50 sièges inclinables avec ceintures ou 40 couchettes, climatisation top air intégré, système vidéo DVD ou CD/K7, réfrigérateur, toilettes</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                </div>

                <div class="line"></div>

                <div class="col_one_third nomargin">
                    <div class="card" style="width: 18rem; height: 300px;">
                        <img class="card-img-top" data-src="holder.js/300x200" alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text"><span style="font-weight: bold;">VAN HOOL TXII</span><br>Sièges inclinables avec ceintures, climatisation, système vidéo CD/DVD, USB, MP3, réfrigérateur</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                </div>
                <div class="col_one_third nomargin">
                    <div class="card" style="width: 18rem; height: 300px;">
                        <img class="card-img-top" data-src="holder.js/300x200" alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text"><span style="font-weight: bold;">IVECO WING</span><br>Sièges inclinables avec ceintures, climatisation, système vidéo DVD, réfrigérateur</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                </div>
                <div class="col_one_third nomargin">
                    <div class="card" style="width: 18rem; height: 300px;">
                        <img class="card-img-top" data-src="holder.js/300x200" alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text"><span style="font-weight: bold;">Mercedes Sprinter</span><br>Sièges top inclinables avec ceintures, climatisation top air intégré, système vidéo DVD, réfrigérateur</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </section>

{% endblock %}
